/* General Styles */
body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom left, #08121D, #0B1827, #245083);
    margin: 0;
    padding: 0;
}

h2 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #ffffff;
}

/* Form Container */
.form-container {
    
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 10px;
}

.form-box {
    background-color: #245083;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    box-sizing: border-box;
}

.form-actions {
    color: white;
    text-align: center;
    margin-top: 20px;
}

/* Input Styles */
.input-group {
    margin-bottom: 15px;
}

.input-group label {
    font-size: 14px;
    color: #ffffff;
    margin-bottom: 5px;
    display: block;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
    color: #000000;
    box-sizing: border-box;
}

.input-group input:focus {
    border-color: #4CAF50;
    outline: none;
}

/* Button Styles */
.btn {
    background: linear-gradient(to bottom left, #03E825, #028215 );
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    width: 100%;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #00fd0dcb;
}

/* Link Styles */
a {
    color: #4CAF50;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Responsive Styles */
@media (max-width: 600px) {
    .form-box {
        width: 100%;
        padding: 20px;
    }
}
